<%- include('include/adminHeader') -%>

<div class="interest-page-dashboard">
  <div class="container">

        <div class="row">
          <div class="user-details">
              <div class="d-flex flex-row justify-content-center">
                <div class="" style="padding: 5px;">
                  <a class="btn btn-dark btn-sm" href="/adashboard"><i class="fa-solid fa-arrow-left fa-lg"></i> Back</a>
                </div>
              </div>
          </div>
        </div>

        <div class="row">
          <!-- influencer list -->
          <div class="col-md-6 influencer-col">
            <h6 class="text-center alert alert-dark">Influencer Monitor</h6>
            <div class="interest-page-bar">
              <!-- <p class="text-center">Data of form filled by people interested in partnership</p> -->
                <div class="interest-table">
                  <table class="table table-striped table-hover ">
                    <thead>
                      <tr>
                        <th scope="col">SN</th>
                        <th scope="col">Username</th>
                        <th scope="col">Usage</th>
                        <th scope="col">Accumulated</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (i=0; i<influencer.length; i++){%>
                          <tr>
                            <td><%=i+1%></td>
                            <td><%=influencer[i].username%></td>
                            <td></td>
                            <td></td>
                          </tr>
                        <%}%>
                    </tbody>
                  </table>
                </div>
            </div>
          </div>

          <!-- create influencer -->
          <div class="col-md-6 influencer-col">
            <h6 class="text-center alert alert-dark">Create influencer</h6>
            <div>
              <form action="/createinfluencer" method="post">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Influencer ID</label>
                  <input type="number" class="form-control" name="id" autocomplete="off">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Username</label>
                  <input type="text" class="form-control" name="username" autocapitalize="Off">
                </div>
                <button type="submit" class="btn btn-md btn-success">Create</button>
              </form>
            </div>
          </div>

        </div>

  </div>
</div>

<%-include('include/adminFooter') -%>
<%-include('include/footer') -%>