<%- include('include/adminHeader') -%>

<div class="interest-page-dashboard">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <div class="interest-page-bar">

          <p class="text-center alert alert-secondary">Interested Investors</p>

          <div> <a href="/subscriber" class="btn btn-outline-success btn-md">View subscribers</a></div>
          
            <div class="interest-table">
              <table class="table table-striped table-hover ">
                <thead>
                  <tr>
                    <th scope="col">Email</th>
                    <th class="scope">Phone</th>
                      <th class="scope">Action</th>
                      <th class="scope">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (i=int.length-1; i>=0; i--){%>
                      <tr>
                       <td><%=int[i].email%></td>
                        <td><%=int[i].phone%></td>
                        <td><a href="/delete-interest?id=<%=int[i].email%>" type="submit" class="btn btn-danger btn-sm">Delete</a></td>
                        <td><a href="/send-subscription-form?id=<%=int[i].email%>" type="submit" class="btn btn-success btn-sm">Subscription</a></td>
                      </tr>
                    <%}%>
                </tbody>
              </table>
            </div>
            <div class=""><a class="btn btn-secondary btn-sm" href="/adashboard">Back to dashboard</a></div>

        </div>
      </div>
    </div>

  </div>
</div>

<%-include('include/adminFooter') -%>
<%-include('include/footer') -%>