<%- include('include/adminHeader') -%>

<div class="interest-page-dashboard">
  <div class="container">

        <div class="row">
          <div class="user-details">
              <div class="d-flex flex-row justify-content-center">
                <div class="" style="padding: 5px;">
                  <a class="btn btn-dark btn-sm" href="/adashboard"><i class="fa-solid fa-arrow-left fa-lg"></i> Back</a>
                </div>
                <div class="" style="padding: 5px;">
                  <a class="btn btn-success btn-sm" href="/interest/subscribers">Subscribers</a>
                </div>
              </div>
          </div>
        </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="interest-page-bar">
          <br>
          <h6 class="text-center">Prospective investor with access code</h6>
          <br>
          <!-- <p class="text-center">Data of form filled by people interested in partnership</p> -->
            <div class="interest-table">
              <table class="table table-striped table-hover ">
                <thead>
                  <tr>
                    <th scope="col">SN</th>
                    <!-- <th scope="col">First Name</th>
                    <th scope="col">Last Name</th> -->
                    <th scope="col">Email</th>
                    <th class="scope">Phone</th>
                    <!-- <th class="scope">Address</th> -->
                    <th class="scope">Comment</th>
                    <% if(removeButton == false){%>
                      <th class="scope">Action</th>
                      <th class="scope">Action</th>
                      <th class="scope">Action</th>
                    <%}%>
                  </tr>
                </thead>
                <tbody>
                  <% for (i=int.length-1; i>=0; i--){%>
                    <%if(int[i].action == "awaitSub"){%>
                      <tr>
                        <td><%=i+1%></td>
                        <!-- <td><=int[i].fname></td>
                        <td><=int[i].lname></td> -->
                       <td><%=int[i].email%></td>
                        <td><%=int[i].phone%></td>
                        <!-- <td><=int[i].address> <=int[i].postcode%> <=int[i].country></td> -->
                        <td><%=int[i].comment%></td>
  
                        <% if(removeButton == false){%>
                        <td>
                          <form action="/interest/deleteinterest" method="post">
                            <input type="hidden" name="email" value="<%=int[i].email%>">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                          </form>
                        </td>
  
                          <td>         
                            <form action="/interest/notsure" method="post">
                            <div class="row">
                                <div class="col-6">
                                  <input type="hidden" name="email" value="<%=int[i].email%>">
                                  <input class="form-control" type=" text " name="comment" required placeholder="comment">
                                </div>
                                <div class="col-6">
                                  <button type="submit" class="btn btn-warning btn-sm">Update</button> 
                                </div>
                              </div>
                            </form>
                          </td>
  
                            <td>
                              <form action="/interest/tosubscribed" method="post">
                                <input type="hidden" name="email" value="<%=int[i].email%>">
                                <button type="submit" class="btn btn-success btn-sm">Subscription</button>
                              </form>
                            </td>
                         <%}%>
                      </tr>
                    <%}%>
                  <%}%>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>

  </div>
</div>

<%-include('include/adminFooter') -%>
<%-include('include/footer') -%>