<%- include('include/adminHeader') -%>

<div class="main-dashboard">
  <div class="container">

    <div class="user-details">
        <div class="text-center">
            <a class="btn btn-warning btn-sm" href="/adashboard"><i class="fa-solid fa-arrow-left fa-lg"></i> Back to dashboard</a>
        </div>
    </div>

    <div class="row menu-row align-items-center">
        <!-- <div class="col-sm-6 menu-item-bar text-center">
            <div class="menu-item">
                <div class="">
                    <h6>Add new partner</h6>
                    <p>Add new partner</p>
                </div> -->

            <!-- </div>
        </div> -->

      <!-- <div class="col-sm-4 menu-item-bar text-center">
        <div class="menu-item">
          <div>
              <h6>Delete partner</h6>
              <p>Delete partner</p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 menu-item-bar text-center">
        <a class="menu-link" href="">
        <div class="menu-item">
          <div>
              <h6>Un/block partner</h6>
              <p>Temporary block and unblock user </p>
          </div>
        </div>
        </a>
      </div> -->
    </div>

  <div class="row subscriber-row">
    <h6 class="text-center">Investors</h6>
      <!-- subscribers -->
      <div class="col-md-12 subscriber-bar">
        <div class="subscriber-bar-main">
          <table class="table table-striped table-hover ">
              <thead>
                <tr>
                  <th scope="col">First Name</th>
                  <th scope="col">Certificate No</th>
                  <th scope="col">KYC</th>
                  <th scope="col">Investment</th>
                  <th scope="col">% ROI</th>
                  <th scope="col">Frequency</th>
                  <th scope="col">ROI</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>
                  <th class="scope">Action</th>
                </tr>
              </thead>
              <tbody>
                <% for (i=investor.length-1; i>=0; i--){%>
                  <tr>
                    <td><%=investor[i].profile.fname%></td>
                    <td><%=investor[i].investment[0].certificateNo%></td>
                    <%if(investor[i].kyc == false){%>
                      <td><a href="/kyc?investor=<%=investor[i].username%>"><%=investor[i].kyc%></a></td>
                    <%}else{%>
                      <td><%=investor[i].kyc%></td>
                    <%}%>
                    <td><%=investor[i].investment[0].currency%> <%=investor[i].investment[0].amount%></td>
                    <td><%=investor[i].investment[0].roiOption%>%</td>
                    <td><%=investor[i].investment[0].roiTime%></td>
                    <td><%=investor[i].investment[0].currency%><%=investor[i].investment[0].interest%></td>
                    <td><%=investor[i].investment[0].startDate%></td>
                    <td><%=investor[i].investment[0].endDate%></td>
                    <td>
                      <form method="post" action="/investorpage">
                        <input type="hidden" name="email" value="<%=investor[i].username%>">
                        <button class="btn btn-success btn-sm">View</button>
                      </form>
                    </td>
                    <!-- <td ><=subscrber[i].interest.slice(0,2)></td> -->
                    <!-- Button trigger modal -->
                    <!-- <button type="button" class="btn btn-secondary btn-md" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add Partner</button> -->
                  </tr>
                <%}%>
              </tbody>
          </table>
          </div>
          
          <!-- mailing -->
          <div class="mailing-bar">
            <h5 class="text-center">Send Mail</h5>
            <form action="/generalmail" method="post">
                <div class="mb-2">
                  <textarea type="text" name="mailContent" class="form-control" id="exampleFormControlInput1"></textarea>
                  <button type="submit" class="btn btn-success btn-sm" style="margin-top: 10px;">Send</button>
                </div>
              </form>
          </div>
      </div>
      
      

         <!-- manually create user -->
        <div class="text-center" style="margin-top: 20px;">
          <button type="button" class="btn btn-success btn-md" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">Mannually add investor</button>             
          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Add new patner</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                  <div class="text-start">
                      <form action="/createInvestor" method="post">
                          <div class="mb-2">
                              <label for="exampleFormControlInput1" class="form-label">First Name</label>
                              <input type="text" name="fname" class="form-control" id="exampleFormControlInput1">
                            </div>
                            <div class="mb-2">
                              <label for="exampleFormControlTextarea1" class="form-label">Last Name</label>
                              <input type="text" name="lname" class="form-control" id="exampleFormControlInput1" >
                            </div>
                            <div class="mb-2">
                              <label for="exampleFormControlTextarea1" class="form-label">Email</label>
                              <input type="email" name="username" class="form-control" id="exampleFormControlInput1" >
                            </div>
                            <div class="mb-2">
                              <label for="exampleFormControlTextarea1" class="form-label">Phone number</label>
                              <input type="text" name="phone" class="form-control" id="exampleFormControlInput1" >
                            </div>
                            <div class="mb-2">
                              <label for="exampleFormControlTextarea1" class="form-label">Password</label>
                              <input type="text" name="password" class="form-control" id="exampleFormControlInput1">
                            </div>
                            <div class="mb-2">
                              <label for="exampleFormControlTextarea1" class="form-label">Investment type</label>
                              <input type="text" name="lot" class="form-control" id="exampleFormControlInput1" >
                            </div>
                            <div class="mb-2">
                              <label for="exampleFormControlTextarea1" class="form-label">Amount Paid</label>
                              <input type="text" name="amount" class="form-control" id="exampleFormControlInput1" >
                            </div>
                            <div class="mb-2">
                              <label for="exampleFormControlTextarea1" class="form-label">Date invested</label>
                              <input type="date" name="startDate" class="form-control" id="exampleFormControlInput1" >
                            </div>
                            <button type="submit"  class="btn btn-success">Create Partner</button>
                      </form>    
                  </div>
                  </div>
                  <!-- <div class="modal-footer text-start">
                  <button type="button"  class="btn btn-success" data-bs-dismiss="modal">Create partner</button>
                  </div> -->
              </div>
              </div>
          </div>
    </div>
  </div>

  </div>
</div>
<%-include('include/adminFooter') -%>
<%-include('include/footer') -%>
