<%- include('include/userHeader') -%>

<div class="main-dashboard">
  <div class="container">

    <div class="user-details">
        <div class="text-center">
            <p>Welcome back</p>
            <h5><%=user.profile.fname%> <%=user.profile.lname%></h5>
        </div>
    </div>

    <div class="row menu-row align-items-center">
        <div class="col-sm-6 menu-item-bar text-center">
            <div class="menu-item">
                <!-- <div><i class="fa-solid fa-envelope fa-xl"></i></div> -->
                <div>
                  <h6>My Profile</h6>
                  <p>View and update your profile. Authentication required for changes.</p>
                </div>
            </div>
        </div>

      <div class="col-sm-6 menu-item-bar text-center">
        <div class="menu-item">
          <!-- <div><i class="fa-solid fa-sack-dollar fa-xl"></i></div> -->
          <div>
              <h6>My Investments</h6>
              <p>View your investments, maturity dates, adjust and request payout</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 menu-item-bar text-center">
        <div class="menu-item">
          <!-- <div><i class="fa-solid fa-handshake-simple fa-xl"></i></div> -->
          <div>
              <h6>Available Offers</h6>
              <p>Be the first to take advantage of incredible investment opportunities</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 menu-item-bar text-center">
        <div class="menu-item">
          <!-- <div><i class="fa-solid fa-headset fa-xl"></i></div> -->
          <div>
              <h6>Communications</h6>
              <p>View recent statements, memorandom and update on investments</p>
          </div>
        </div>
      </div>
    </div>

    <div class="logout-btn text-center">
        <a class="btn btn-danger btn-sm" href="/logout">Logout</a>
    </div>

  </div>
</div>
<%- include('include/userFooter') -%>
<%-include('include/footer') -%>
